div {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  background: none;
  border: 1px solid gray;
  border-radius: 5px;
}
